
###> symfony/framework-bundle ###
/project/.env.local
/project/.env.local.php
/project/.env.*.local
/project/config/secrets/prod/prod.decrypt.private.php
/project/public/bundles/
/project/var/
/project/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/project/phpunit.xml
/project/.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
/project/phpstan.neon
###< phpstan/phpstan ###

/docker/db/db_data

myKey.pem
.env
.terraform
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.DS_Store