{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
<h2>Nous contacter</h2>
{% for message in app.flashes('notice') %}
	<div class"alert alert-info">{{message}}</div>

{% endfor %}

<div class="row ">
<div class="col-md-8">{{form(form)}}</div>
<div class="col-md-4 text-center">

<strong>DD'store</strong>
<hr>
02 35 55 55 55 </br>
77 route de ton cul 76160 la daronne</br>

dd@dd.dd
</div>

</div>


{% endblock %}
