{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex align-items-center mb-3">
        <div class="me-2">
            <a class="btn btn-success btn-sm rounded-circle" href="{{path('account')}}">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </div>
        <div>
            <h1 class="m-0">Modifier votre mot de passe</h1>
        </div>
    </div>
    <p>{{app.user.firstname}} Vous souhaitez modifier votre mot de passe  </p>
    {% if notification %}
    <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    {{form(form)}}
</div>
{% endblock %}
